<app-auth-content>
    <div class="app-title">
        <div>
            <h1><i class="bi bi-speedometer"></i> Devices</h1>
            <p>รายการข้อมูลครุภัณฑ์{{ Title }}</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/', AppUrl.Authen, AuthUrl.Dashboard]"><i class="bi bi-house-door fs-6"></i></a></li>
            <li class="breadcrumb-item"><a [routerLink]="[]">Devices</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <form (submit)="onSearchItem()">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend" dropdown>
                                <button id="button-animated" dropdownToggle type="button"
                                    class="btn btn-primary dropdown-toggle" aria-controls="dropdown-animated">
                                    {{ searchType.value }} <span class="caret"></span>
                                </button>
                                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                                    aria-labelledby="button-animated">
                                    <li *ngFor="let item of searchTypeItem" role="menuitem">
                                        <a [routerLink]="[]" class="dropdown-item" (click)="searchType = item">{{
                                            item.value
                                            }}</a>
                                    </li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="searchText" (input)="onSearchItem()"
                                placeholder="ค้นหาข้อมูล" name="searchText">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" id="button-addon1"><i
                                        class="bi bi-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <div *ngIf="isLoading" class="text-center mt-5">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="table-responsive" *ngIf="!isLoading">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 10%">เลขครุภัณฑ์</th>
                                <th class="text-center" style="width: 15%">รายการ</th>
                                <th class="text-center" style="width: 8%">ยี่ห้อ</th>
                                <th class="text-center" style="width: 8%">รุ่น</th>
                                <th class="text-center" style="width: 8%">ชั้น</th>
                                <th class="text-center" style="width: 12%">สถานที่</th>
                                <th class="text-center" style="width: 10%">Monitor</th>
                                <th class="text-center" style="width: 10%">สถานะ</th>
                                <th class="text-center" style="width: 10%">IP</th>
                                <th class="text-center" style="width: 5%">Ping</th>
                                <th class="text-center" style="width: 4%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cctvItems">
                                <td>{{ item.durable_no }}</td>
                                <td>{{ item.durable_name }}</td>
                                <td>{{ item.brand }}</td>
                                <td>{{ item.model }}</td>
                                <td>{{ item.floor }}</td>
                                <td>{{ item.location }}</td>
                                <td>{{ item.monitor }}</td>
                                <td class="text-center">
                                    <span class="badge" [ngClass]="{
                                              'bg-success': item.status_id === '1',
                                              'bg-warning': item.status_id === '2',
                                              'bg-danger': item.status_id === '3',
                                              'bg-secondary': item.status_id === '4'
                                          }">
                                        {{ item.status }}
                                    </span>
                                </td>

                                <td>{{ item.ip }}</td>
                                <td class="text-center">
                                    <span class="badge" [ngClass]="item.ping === '0' ? 'bg-success' : 'bg-danger'">
                                        {{ item.ping === '0' ? 'Online' : 'Offline' }}
                                    </span>
                                </td>
                                <td align="center">
                                    <a [routerLink]="[]" data-bs-toggle="modal" data-bs-target="#editCctvModal"
                                        (click)="onEditModal(item)">
                                        <span class="badge bg-warning"><i class="bi bi-pencil-square"
                                                title="Edit"></i></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="10">จำนวนรายการทั้งหมด {{ cctvItems.length }} รายการ</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editCctvModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form (submit)="onSubmit()">
                    <div class="modal-header">
                        <h4 class="modal-title">แก้ไขรายการครุภัณฑ์</h4>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <h5 class="lh_modal">เลขครุภัณฑ์</h5>
                            <input type="text" class="form-control" required placeholder="เลขครุภัณฑ์"
                                [(ngModel)]="model.durable_no" name="durable_no">
                        </div>
                        <div class="form-group">
                            <h5 class="lh_modal">รายการ</h5>
                            <input type="text" class="form-control" required placeholder="รายการ"
                                [(ngModel)]="model.durable_name" name="durable_name">
                        </div>
                        <div class="form-group">
                            <h5 class="lh_modal">ยี่ห้อ</h5>
                            <input type="text" class="form-control" required placeholder="ยี่ห้อ"
                                [(ngModel)]="model.brand" name="brand">
                        </div>
                        <div class="form-group">
                            <h5 class="lh_modal">รุ่น</h5>
                            <input type="text" class="form-control" required placeholder="รุ่น"
                                [(ngModel)]="model.model" name="model">
                        </div>
                        <div class="form-group">
                            <h5 class="lh_modal">ชั้น</h5>
                            <select class="form-select" [(ngModel)]="model.floor_id" name="floor">
                                <option value="">กรุณาเลือกชั้น</option>
                                <option *ngFor="let item of floorItems" [value]="item.floor_id">{{ item.floor_name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <h5 class="lh_modal">สถานที่</h5>
                            <input type="text" class="form-control" required placeholder="สถานที่"
                                [(ngModel)]="model.location" name="location">
                        </div>
                        <div class="form-group">
                            <h5 class="lh_modal">Monitor</h5>
                            <input type="text" class="form-control" required placeholder="Monitor"
                                [(ngModel)]="model.monitor" name="monitor">
                        </div>
                        <div class="form-group">
                            <h5 class="lh_modal">สถานะ</h5>
                            <select class="form-select" [(ngModel)]="model.status_id" name="status">
                                <option value="">กรุณาเลือกสถานะ</option>
                                <option *ngFor="let item of statusItems" [value]="item.status_id">{{ item.status_name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <h5 class="lh_modal">IP</h5>
                            <input type="text" class="form-control" required placeholder="IP" [(ngModel)]="model.ip"
                                name="ip">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-info modal_button" value="Save">
                        <input type="button" class="btn btn-danger modal_button" data-bs-dismiss="modal" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-auth-content>