<app-auth-content>
    <div class="app-title">
        <div>
            <h1><i class="bi bi-file-earmark-person"></i> เพิ่มรายการครุภัณฑ์</h1>
            <p>Start a beautiful journey here</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
            <li class="breadcrumb-item"><a href="#">Blank Page</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <form (submit)="onSubmit()" [noValidate]="false">
                    <div class="row align-items-center">
                        <div class="col-2 text-end">
                            <h5 class="lh_modal">หมายเลขครุภัณฑ์ : </h5>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control form-control-lg" required
                                [(ngModel)]="model.durable_no" name="durable_no" placeholder="หมายเลขครุภัณฑ์">
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-2 text-end">
                            <h5 class="lh_modal">รายการ : </h5>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control form-control-lg" required
                                [(ngModel)]="model.durable_name" name="durable_name" placeholder="รายการ">
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-2 text-end">
                            <h5 class="lh_modal">ยี่ห้อ : </h5>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control form-control-lg" required [(ngModel)]="model.brand"
                                name="brand" placeholder="ยี่ห้อ">
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-2 text-end">
                            <h5 class="lh_modal">สถานที่ : </h5>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control form-control-lg" [(ngModel)]="model.location"
                                name="location" placeholder="สถานที่">
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-2 text-end">
                            <h5 class="lh_modal">จอภาพ : </h5>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control form-control-lg" [(ngModel)]="model.monitor"
                                name="monitor" placeholder="จอภาพ">
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-2 text-end">
                            <h5 class="lh_modal">IP : </h5>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control form-control-lg" [(ngModel)]="model.ip" name="ip"
                                placeholder="IP">
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-2 text-end">
                            <h5 class="lh_modal">ชั้น : </h5>
                        </div>
                        <div class="col-10">
                            <select class="form-select form-select-lg form-control" [(ngModel)]="model.floor" name="floor" required>
                                <option value="" selected>กรุณาเลือกชั้น</option>
                                <option *ngFor="let item of floorItems" value="{{item.floor_id}}">{{item.floor_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-2 text-end">
                            <h5 class="lh_modal">สถานะ : </h5>
                        </div>
                        <div class="col-10">
                            <select class="form-select form-select-lg" [(ngModel)]="model.status" name="status"
                                required>
                                <option value="">กรุณาเลือกสถานะ</option>
                                <option *ngFor="let item of statusItems" value="{{item.status_id}}">{{item.status_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <input type="submit" class="btn btn-info me-3" value="Save">
                        <input type="button" class="btn btn-danger" data-bs-dismiss="modal" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
    </div>

</app-auth-content>