<aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" src="https://randomuser.me/api/portraits/men/1.jpg" alt="User Image">
            <div>
                <p class="app-sidebar__user-name">ระบบบริหารจัดการ</p>
                <p class="app-sidebar__user-designation">ครุภัณฑ์ระบบสารสนเทศ</p>
            </div>
        </div>
        <ul class="app-menu">
            <li>
                <a class="app-menu__item" [routerLink]="['/', AppUrl.Authen, AuthUrl.Index]" routerLinkActive="active">
                    <i class="app-menu__icon bi bi-speedometer"></i>
                    <span class="app-menu__label">หน้าหลัก</span>
                </a>
            </li>
            <li class="treeview" routerLinkActive="is-expanded">
                <a class="app-menu__item" href="#" data-toggle="treeview">
                    <i class="app-menu__icon bi bi-laptop"></i>
                    <span class="app-menu__label">รายการครุภัณฑ์</span>
                    <i class="treeview-indicator bi bi-chevron-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" [routerLink]="['/', AppUrl.Authen, AuthUrl.Create_Durable]" routerLinkActive="active"><i class="icon bi bi-circle-fill"></i> เพิ่มรายการครุภัณฑ์</a></li>
                    <li><a class="treeview-item" [routerLink]="['/', AppUrl.Authen, AuthUrl.Cctv, 1]" routerLinkActive="active"><i class="icon bi bi-circle-fill"></i> ดูรายการกล้องวงจรปิด</a></li>
                    <li><a class="treeview-item" [routerLink]="['/', AppUrl.Authen, AuthUrl.Cctv, 2]" routerLinkActive="active"><i class="icon bi bi-circle-fill"></i> ดูรายการเครื่องคอมพิวเตอร์</a></li>
                    <li><a class="treeview-item" [routerLink]="['/', AppUrl.Authen, AuthUrl.Cctv, 3]" routerLinkActive="active"><i class="icon bi bi-circle-fill"></i> ดูรายการอุปกรณ์กระจายสัญญาณ</a></li>
                    <li><a class="treeview-item" [routerLink]="['/', AppUrl.Authen, AuthUrl.Cctv, 4]" routerLinkActive="active"><i class="icon bi bi-circle-fill"></i> ดูรายการอุปกรณ์จัดเก็บข้อมูล</a></li>
                    <li><a class="treeview-item" [routerLink]="['/', AppUrl.Authen, AuthUrl.Log_Ping, 1]" routerLinkActive="active"><i class="icon bi bi-circle-fill"></i> Log กล้องวงจรปิด</a></li>
                    <li><a class="treeview-item" [routerLink]="['/', AppUrl.Authen, AuthUrl.Log_Ping, 2]" routerLinkActive="active"><i class="icon bi bi-circle-fill"></i> Log เครื่องคอมพิวเตอร์</a></li>
                    <li><a class="treeview-item" [routerLink]="['/', AppUrl.Authen, AuthUrl.Log_Ping, 3]" routerLinkActive="active"><i class="icon bi bi-circle-fill"></i> Log อุปกรณ์กระจายสัญญาณ</a></li>
                    <li><a class="treeview-item" [routerLink]="['/', AppUrl.Authen, AuthUrl.Log_Ping, 4]" routerLinkActive="active"><i class="icon bi bi-circle-fill"></i> Log อุปกรณ์จัดเก็บข้อมูล</a></li>
                </ul>
            </li>
            <li class="treeview" routerLinkActive="is-expanded">
                <a class="app-menu__item" href="#" data-toggle="treeview">
                    <i class="app-menu__icon bi bi-ui-checks"></i>
                    <span class="app-menu__label">จัดการผู้ใช้</span>
                    <i class="treeview-indicator bi bi-chevron-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" [routerLink]="['/', AppUrl.Authen, AuthUrl.User]" routerLinkActive="active"><i class="icon bi bi-circle-fill"></i> รายการผู้ใช้</a></li>
                    <li><a class="treeview-item" [routerLink]="['/', AppUrl.Authen, AuthUrl.Create_User]" routerLinkActive="active"><i class="icon bi bi-circle-fill"></i> เพิ่มผู้ใช้งาน</a></li>
                </ul>
            </li>
        </ul>
    </aside>
    